* { margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
 }
body { 
    background-color: #0e0d0d; 
    color: rgb(245, 240, 240); 
    overflow-x: hidden;
 }

/* Navigation */
nav {
    position: fixed; 
    top: 0; 
    width: 100%; 
    padding: 25px 5%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    z-index: 1000; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
}
.logo { 
    font-family: 'Cinzel', serif; 
    font-size: 2rem; 
    color: #f1ac08; 
    text-decoration: none; letter-spacing: 3px; }
.nav-links { 
    display: flex; 
    list-style: none; 
}
.nav-links li { 
    margin-left: 30px; 
}
.nav-links a { color: rgb(239, 240, 229);
     text-decoration: none; 
     font-size: 0.75rem; 
     text-transform: uppercase; 
     letter-spacing: 2.5px; 
     transition: 0.3s; }
.nav-links a:hover { 
    color: #eeea09; 
}

/* Section Spacing */
section.hero {
    margin-bottom: 50px;
    position: relative; 
    width: 100%; 
    min-height: 100vh;
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
}

.video-bg { position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1; }
.overlay { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(to bottom, rgba(16, 17, 13, 0.2), rgba(20, 20, 19, 0.9)); }

/* Content Area */
.content-area { position: relative; 
    z-index: 2; 
    text-align: center; 
    max-width: 1000px; 
    padding: 20px; }
.main-title {
    font-family: 'Cinzel', serif; 
    font-size: 3rem; 
    color: #fbbf24;
    margin-bottom: 20px; 
    text-transform: uppercase;
    text-shadow: 4px 4px 20px rgba(0,0,0,1);
}
.description {
    font-size: 1.1rem; 
    line-height: 1.8; 
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0,0,0,1); text-align: center;
}

/* Home Buttons */
.home-btn-container { display: flex; 
    gap: 15px; 
    margin-top: 50px; 
    justify-content: center; 
    flex-wrap: wrap; }
.image-card {
    width: 200px; 
    height: 250px; 
    position: relative; 
    border: 1px solid rgba(241, 199, 8, 0.3);
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-decoration: none; 
    color: white; 
    font-weight: 700; 
    overflow: hidden; 
    border-radius: 8px; transition: 0.4s;
}
.image-card img { position: absolute; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1; 
    filter: brightness(70%); }
.image-card:hover { 
    border-color: #e2d413; 
    transform: translateY(-10px); }
.image-card:hover img { 
    filter: brightness(100%); 
}